/***************************************************              GENERAL RESET STYLES             ***************************************************/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
* {}
*:focus {outline: none;}
body {
    line-height:1;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}
nav ul {
    list-style:none;
}
ol, ul {
    list-style: none;
    margin:0;
    padding:0;
}
a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
        text-decoration:none;
}
a:hover {
    text-decoration:none;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
img {
    border-style:none;
    max-width:100%;
}
form fieldset {
    margin:0;
    padding:0;
    border:none;
}
input, textarea, select {
    vertical-align:middle;
    color:#000;
    padding:0;
}
input, select {
    vertical-align:middle;
}
input::-webkit-input-placeholder{color:#ebedec;}
input:focus::-webkit-input-placeholder{color:#ebedec;}
/*@media*/

/* @media (min-width: 1921px){}                                                     QHD \ UHD
@media (min-width: 1600px) and (max-width: 1919px) {}    HD +
@media (min-width: 1440px) and (max-width: 1599px) {}    macbook
@media (min-width: 1360px) and (max-width: 1439px) {}    HD
@media (min-width: 1280px) and (max-width: 1359px) {} IPAD2
@media (min-width: 1024px) and (max-width: 1279px) {} IPAD
@media (min-width: 896px) and (max-width: 1023px) {}    Ip Xs max horizontal
@media (min-width: 812px) and (max-width: 895px) {}        Ip Xs horizontal
@media (min-width: 768px) and (max-width: 811px) {}        Tablet
@media (min-width: 736px) and (max-width: 767px) {}        Ip 6,7,8 Plus horizontal
@media (min-width: 667px) and (max-width: 735px) {}        Ip 6,7,8 horizontal
@media (min-width: 568px) and (max-width: 666px) {}        Ip 5 horizontal
@media (min-width: 480px) and (max-width: 567px) {}        Ip 4 horizontal
@media (min-width: 414px) and (max-width: 479px) {}        Ip 6,7,8
@media (min-width: 320px) and (max-width: 413px) {}        Ip 4,5 */

/*@media end*/

/* wrapper */
#wrapper {
    display:block;
    position:relative;
    width:100%;
    height:100%;
}

header {
    padding: 35px 0;
    height: 100px;
    width:100%;
    display:block;
    position:relative;
    background-image: url(../images/header/backgraund.png);
    background-repeat: repeat;
    box-sizing: border-box;
}

header .container{
    display: flex;
    justify-content: space-between;
    position: relative;
}

h1{
    font-size:1px;
    visibility: hidden;
}

header .container .icon{
    position: relative;
    border-left: 1px solid linear-gradient( to top, #f7b958, #ffd593, #f7b958 );
}

header .container .icon:before{
    content: "";
    width: 1px;
    height: 52px;
    position: absolute;
    top: -5px;
    left: 0;
    background: linear-gradient( to top, #f7b958, #c29041, #f7b958 );
}

header .container .icon:after{
    content: "";
    width: 1px;
    height: 52px;
    position: absolute;
    top: -5px;
    left: -1px;
    background: linear-gradient( to top, #f7b958, #ffd593, #f7b958 );
}

header .container .icon a{
    margin-left: 23px;
}

.container {
    margin:0 auto;
    position:relative;
    width: 100%;
    max-width:950px;
}

main {
    display:block;
    width:100%;
    position: relative;
}

nav{
     background-color: #40312a;
    padding-top: 20px;
    height: 58px;
    border-bottom: 1px solid #644e44;
    box-sizing: border-box;
    align-items: baseline;
}

nav ul{
    display: inline-block;
    float: left;
    margin-top: 5px;
}

nav ul li{
    display: inline-block;
}

nav ul li a{
    margin-right: 20px;
    color: #ffffff;
    font-size: 18px;
}

nav ul li a:hover{
    color: #2c8897;
}

nav form{
    float: right;
    position: relative;
}

nav form label{
    font-size:18px;
    color: #ffffff;
    margin-right: 10px;
}

nav form input{
    padding: 0 27px 0 5px;
    margin-bottom: 5px;
    width: 160px;
    height: 25px;
    border: none;
    border-radius: 3px;
    background-color:#297f90;
}

nav form button{
    width: 20px;
    height: 23px;
    background-color: #297f90;
    background-image: url(../images/Search.png);
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    position: absolute;
    top: 0;
    right: 5px;
    cursor: pointer;
}


/*   Banner    */


.banner{
    height: 400px;
/*    padding: 50px 0;*/
    background-image: url(../images/banner/background.png);
    border-bottom: 1px solid #e6d6b8;
    position: relative;
}

.banner:after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #bba67b;
}

.banner .container{
    position: relative;
}

.banner .container .inner{
    width: 100%;
    padding: 32px 0 45px;
    border-radius: 5px;
    background-image: url(../images/banner/background_banner.png);
    position: absolute;
    top: 50px;
    left: 0;
    z-index: 2;
}

.banner .text{
    margin-left: 40px;
    max-width: 500px;
}

.banner .text h3{
    margin-bottom: 30px;
    font-size:26px;
    color: #3da2b4;
}

.banner .text p{
    margin-bottom: 45px;
    font-size:12px;
    color: #ffffff;
    line-height: 18px;
}
.banner .text a{
    margin-right: 20px;
    font-size:18px;
    color: #ffffff;
    padding:15px 25px;
    box-sizing: border-box;
    background-image: url(../images/header/backgraund.png);
    border-radius: 7px;
}

.banner .text a:last-child{
    padding: 15px 33px;
}

.banner .container .photo_1{
    position: absolute;
    right: 120px;
    bottom: -20px;
    z-index: 3;
}
.banner .container .photo_2{
    position: absolute;
    right: 40px;
    bottom: -10px;
    z-index: 2;
}

.banner .subinner{
    padding: 25px 0 15px;
    width: 100%;
    border-radius: 7px;
    background-color: #298193;
    position: absolute;
    top:290px;
    left: 0;
}

.banner .subinner p{
    padding-left: 40px;
    color: #ffffff;
}

.banner .subinner p a{
    padding: 0 5px;
    color: #ffffff;
}

.banner .subinner p a:last-child:after{
    content: "";
    position: absolute;
    top: 50px;
    left: 210px;
    width: 12px;
    height: 12px;
    background-color: #e0cfad;
    transform: rotate(45deg)
}

.banner .subinner p a:first-child:after{
    content: "";
    position: absolute;
    top: 50px;
    left: 140px;
    width: 12px;
    height: 12px;
    background-color: #e0cfad;
    transform: rotate(45deg)
}

/*   Rum  */


.rum{
    display: flex;
    justify-content:center;
    border-top:2px solid #bba67b;
    border-bottom:1px solid #3a2c25;
    overflow: hidden;
}

.rum .content{
    background-color: #f8eedf;
    position: relative;
    z-index: 2;
}
.rum .content:before{
    content: "";
    position: absolute;
    top: 0;
    right: 600px;
    width: 1000000000px;
    height: 100%;
    background-color: #f8eedf;
    z-index: 1;
}
.rum .content:after{
    content: "";
    width: 1px;
    height: 100%;
    position: absolute;
    top:0;
    right: 0;
    background: linear-gradient( to top, #f8eedf, #fff7ea);
}


.rum .content .inner{
    margin: 50px 50px 0 0;
    width: 550px;
}

.rum .content h3{
    margin-bottom: 25px;
    color: #2e91a0;
    font-size:24px;
}
.rum .content h4{
    font-size: 30px;
    color: #40312a;
    margin-bottom: 10px;
}

.rum .content section .date{
    font-size: 12px;
    color: #ce953c;
    margin-bottom: 15px;
}

.rum .content section .date a{
    font-style: italic;
    color:#ce953c;

}

.rum .content section .text{
    margin-top: 15px;
    font-size:18px;
    line-height: 18px;
    color: #000000;
    margin-bottom: 40px;
}

.rum .content section .text a{
    color: #247184;
}

.rum .content section .button{
    margin-bottom: 40px;
    padding: 8px 15px;
    background-image: url(../images/banner/background_banner.png);
    color: #ffffff;
    border-bottom: 1px solid #b2988d;
    float: right;
}


/*   Sidebar    */

.rum .sidebar{
    background:linear-gradient(to top, #f8eedf, #eeddc7);
    position: relative;
       align-items: stretch;
}

.rum .sidebar:before{
    content: "";
    width: 1px;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    background: linear-gradient(  to top, #fff7ea, #dfcdb2 );
}

.rum .sidebar:after{
    content: "";
    width: 10000000000px;
    height: 100%;
    position: absolute;
    top:0;
    left: 350px;
    background: linear-gradient( to top, #f8eedf, #eeddc7 );
}

.rum .sidebar .inner{
    margin: 50px 0 50px 40px;
    width: 310px;
       align-items: stretch;
}

.sidebar .inner .box{
    width: 310px;
    height: 200px;
    background-color: #267789;
    border-radius: 6px;
    overflow: hidden;
    position: relative;
}

.sidebar .inner .box .menu{
    display: flex;
    justify-content: space-between;
    margin: 0 0 0;
}

.sidebar .inner .box .menu a{
    margin: 0 0 0;
    padding: 10px 20px;
    color: #ffffff;
    background-color: #40312a;
    box-sizing: border-box;
    position: relative;
}
.sidebar .inner .box .menu a:first-child:hover{
    background-color: #267789;
}
.sidebar .inner .box .menu a:first-child:hover:after{
    content: "";
    position: absolute;
    top: 0;
    bottom: auto;
    right: -1px;
    left: auto;
    width: 1px;
    height: 36px;
    background-color: #257386;
    z-index: 3;
}

.sidebar .inner .box .menu a:first-child:hover:before{
    content: "";
    position: absolute;
    top: 0;
    bottom: auto;
    right: 0;
    left: auto;
    width: 1px;
    height: 37px;
    background-color: #134a56;
}


.sidebar .inner .box .menu a:nth-child(2):hover{
     background-color: #267789;

}

.sidebar .inner .box .menu a:nth-child(2):hover:after{
    content: "";
    position: absolute;
    top: 0;
    bottom: auto;
    left: -2px;
    width: 1px;
    height: 36px;
    background-color: #134a56;
     border-left: 1px solid #257386;
    z-index: 3;
}

.sidebar .inner .box .menu a:nth-child(2):hover:before{
    content: "";
    position: absolute;
    top: 0;
    bottom: auto;
    right: -2px;
    left: auto;
    width: 1px;
    height: 36px;
    background-color: #134a56;
        border-right: 1px solid #257386;
       z-index: 3;
}

.sidebar .inner .box .menu a:last-child:hover{
    background-color: #267789;
}

.sidebar .inner .box .menu a:last-child:hover:after{
    content: "";
    position: absolute;
    top: 0;
    bottom: auto;
    left: -2px;
    width: 1px;
    height: 36px;
    background-color: #134a56;
    z-index: 3;
    border-left: 1px solid #257386;
}

.sidebar .inner .box .menu a:before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #257386;
}

.sidebar .inner .box .menu a:after{
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #134a56;
}


.sidebar .inner .box p{
    font-size:12px;
    line-height: 18px;
    color: #ffffff;
}

.sidebar .inner .box .text_1{
    padding: 20px 15px 15px;
    border-bottom: 1px solid #134a56;
}

.sidebar .inner .box .text_2{
     padding: 15px 15px;
    border-top: 1px solid #3196af;
}


.sidebar .inner .are{
    margin: 40px 0 100px;
}

.sidebar .inner .are h3{
    margin-bottom: 30px;
    font-size: 22px;
    color: #2d8c9b;
    background:  linear-gradient( to top, #267688, #3096a4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sidebar .inner .are img{
    border:5px solid #febf5d;
}

.sidebar .inner .are p{
    margin-top: 25px;
    font-size: 12px;
    line-height: 18px;
}

.sidebar .inner .are p a{
    color: #247184;
}

.sponsors{
    display: flex;
    justify-content: space-between;
    position: relative;
}

.sponsors img{
    border: 5px solid #febf5d;
    position: relative;
}

.sponsors:last-child:before{
    content: "";
    width: 1px;
    height: 85px;
    position: absolute;
    top: 50%;
    left: calc(50% - 1px);
    transform:translate3d(0, -50%, 0);
    background: linear-gradient( to top, #f7eede, #ffffff, #f7eede );
}

.sponsors:last-child:after{
    content: "";
    width: 1px;
    height: 85px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate3d(0, -50%, 0);
    background: linear-gradient( to top, #f5eada, #d1c0a6, #f5eada );
}


.sidebar .inner h4{
    margin-bottom: 30px;
    font-size: 22px;
    color: #ffffff;
    background:  linear-gradient( to top, #267688, #3096a4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*   Contact   */

.contact{
    padding: 50px 0;
    border-top: 1px solid #b2988d;
    background-color: #3a2c25;
}

.contact .container{
    display: flex;
    justify-content: space-between;
}

.contact .container h4{
    font-size: 22px;
    color: #2e8e9d;
    margin-bottom: 30px;
    background:  linear-gradient( to top, #267688, #3096a4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contact .container .get{
    width: 33.33333%;
    padding-right: 70px;
}

.contact .container .get input{
    height: 35px;
    border: 1px solid #d9d9d9;
    padding:0 10px;
}

.contact .container .get .name{
    width: 90px;
    margin-right: 6px;
}

.contact .container .get .last{
    width: 130px;
}

.contact .container .get textarea{
    width: 252px;
    height: 82px;
    margin: 13px 0;
    padding: 15px 10px;
}

 .adress{
    width: 252px;
    margin-bottom: 13px;
}

.contact .container .get button{
    width: 112px;
    padding: 10px 0;
    background-image: url(../images/header/backgraund.png);
    color: #ffffff;
    float: right;
    border: none;
}

.contact .container .projects{
width: 33.33333%;
    padding-right: 70px;
}

.contact .container .projects .icon{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact .container .projects img{
    margin-bottom: 20px;
    border: 3px solid #febf5d;
}

.contact .container .projects a{
    width: 112px;
    padding: 10px 0;
    background-image: url(../images/header/backgraund.png);
    color: #ffffff;
    float: right;
    text-align: center;
}

.contact .container .twitter{
    width: 33.33333%;
}

.contact .container .twitter p{
    font-size:12px;
    line-height: 18px;
    margin: 15px 0;
    color: #ffffff;
}

.contact .container .twitter p a{
    color:#2e91a0;
    font-style:italic;
}

.contact .container .twitter .button{
    margin-top: 78px;
    width: 112px;
    padding: 10px 0;
    background-image: url(../images/header/backgraund.png);
    color: #ffffff;
    float: right;
    text-align: center;
}

footer {
    font-size: 13px;
    color: #ffffff;
    display:block;
    width:100%;
    margin:0 0 0;
    padding:25px 0;
    background-image: url(../images/background_footer.png);
}

footer .container{
    display: flex;
    justify-content: space-between;
}


footer .container ul{
    display:inline-block;

}

footer .container ul li{
    display: inline;
}

footer .container ul li a{
    margin: 0 5px;
    color:#ffffff;
}
footer .container ul li a:hover{
    text-decoration: underline;
}
